In [ ]:
import pandas as pd

In [ ]:
!gdown 1wG8GaMi1hhfY6DsUPFjFtDYkumA-m2Xj

Downloading...
From: https://drive.google.com/uc?id=1wG8GaMi1hhfY6DsUPFjFtDYkumA-m2Xj
To: /content/weather.csv
100% 12.0k/12.0k [00:00<00:00, 46.2MB/s]

In [ ]:
weather = pd.read_csv("weather.csv")

In [ ]:
weather.head()

,year,month,element,day1,day2,day3,day4,day5,day6,day7,...,day22,day23,day24,day25,day26,day27,day28,day29,day30,day31
0,2018,1,max,17.573016,19.796815,22.412495,17.813163,20.165825,17.060539,22.736134,...,22.629226,19.013674,17.831558,17.018316,21.837387,19.700255,19.084056,18.534690,20.787275,21.117423
1,2018,1,min,22.725760,21.007865,17.730792,18.045290,20.766734,18.656651,22.607481,...,21.163491,17.371653,17.194530,18.964190,17.892385,17.646139,19.844125,22.729859,19.768917,20.913443
2,2018,2,max,19.015120,19.261805,17.510713,21.080425,17.915749,19.082145,18.056023,...,21.254968,20.346324,20.036019,22.926773,17.533172,20.308927,20.438899,17.005806,18.346534,20.878165
3,2018,2,min,18.653843,22.818600,21.842673,21.958159,22.523078,18.535469,19.636158,...,19.711974,20.586232,18.780840,20.065633,18.293548,20.823661,18.056112,22.748292,22.470172,18.602007
4,2018,3,max,20.741115,19.704016,17.039811,20.703908,22.714125,17.205000,19.079503,...,19.528963,19.563689,22.658997,22.446357,17.911240,22.591993,17.406800,19.118712,22.767154,17.119452

In [ ]:
weather.shape    # wide data, or rectangular data

(22, 34)

In [ ]:
weather.columns

Index(['year', 'month', 'element', 'day1', 'day2', 'day3', 'day4', 'day5',
       'day6', 'day7', 'day8', 'day9', 'day10', 'day11', 'day12', 'day13',
       'day14', 'day15', 'day16', 'day17', 'day18', 'day19', 'day20', 'day21',
       'day22', 'day23', 'day24', 'day25', 'day26', 'day27', 'day28', 'day29',
       'day30', 'day31'],
      dtype='object')

In [ ]:
weather_melt = pd.melt(weather, id_vars=["year", "month", "element"], var_name="day", value_name="temp")

In [ ]:
weather_melt

     year  month element    day       temp
0    2018      1     max   day1  17.573016
1    2018      1     min   day1  22.725760
2    2018      2     max   day1  19.015120
3    2018      2     min   day1  18.653843
4    2018      3     max   day1  20.741115
..    ...    ...     ...    ...        ...
677  2018     10     min  day31  21.691537
678  2018     11     max  day31  20.750438
679  2018     11     min  day31  18.939767
680  2018     12     max  day31  19.648924
681  2018     12     min  day31  18.775539

[682 rows x 5 columns]

In [16]:
weather_tidy = weather_melt.pivot_table(index=["year", "month", "day"], columns="element", values="temp" )

In [ ]:
# melt --> melt the columns into a single column, columns ---> column values in rows
# pivot_table --> converts values of a column into seperate columns

In [18]:
weather_tidy

element                 max        min
year month day
2018 1     day1   17.573016  22.725760
           day10  19.067288  19.931129
           day11  19.361002  22.598325
           day12  20.982134  17.715137
           day13  21.668005  17.940334

In [19]:
!ls

sample_data  weather.csv

In [21]:
weather_tidy.to_csv("weather_tidy.csv", sep=",")

In [22]:
!ls

sample_data  weather.csv  weather_tidy.csv

In [24]:
# Uber use-case - how to handle timestamp data

In [23]:
!gdown 1TL2hWkMWtD1ExVgaQhWP6A2swR8F8cVB

Downloading...
From: https://drive.google.com/uc?id=1TL2hWkMWtD1ExVgaQhWP6A2swR8F8cVB
To: /content/UberDrives.csv
100% 86.4k/86.4k [00:00<00:00, 121MB/s]

In [25]:
data = pd.read_csv("UberDrives.csv")

In [26]:
data.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [27]:
data.shape

(1156, 7)

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1156 non-null   object
 1   END_DATE*    1155 non-null   object
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB

In [30]:
data.tail()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [31]:
data.drop(1155, axis=0, inplace = True)

In [32]:
data.tail()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site

In [35]:
data.isnull().sum(axis=0)

START_DATE*      0
END_DATE*        0
CATEGORY*        0
START*           0
STOP*            0
MILES*           0
PURPOSE*       502
dtype: int64

In [36]:
data.describe()

            MILES*
count  1155.000000
mean     10.566840
std      21.579106
min       0.500000
25%       2.900000
50%       6.000000
75%      10.400000
max     310.300000

In [37]:
data.describe(include="object")

            START_DATE*        END_DATE* CATEGORY* START* STOP* PURPOSE*
count              1155             1155      1155   1155  1155      653
unique             1154             1154         2    177   188       10
top     6/28/2016 23:34  6/28/2016 23:59  Business   Cary  Cary  Meeting
freq                  2                2      1078    201   203      187

In [38]:
data.loc[data.duplicated()]

         START_DATE*        END_DATE* CATEGORY*  START* STOP*  MILES* PURPOSE*
492  6/28/2016 23:34  6/28/2016 23:59  Business  Durham  Cary     9.9  Meeting

In [39]:
data.drop_duplicates(inplace = True)

In [40]:
data.columns = [col_name[:-1] for col_name in data.columns]

In [41]:
data

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site

In [ ]:
# how to handle timestamp data

In [42]:
data["START_DATE"] = pd.to_datetime(data["START_DATE"])

In [43]:
data.head()

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,2016-01-01 21:11:00,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,2016-01-02 01:25:00,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,2016-01-02 20:25:00,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,2016-01-05 17:31:00,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,2016-01-06 14:42:00,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1154 entries, 0 to 1154
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   START_DATE  1154 non-null   datetime64[ns]
 1   END_DATE    1154 non-null   object
 2   CATEGORY    1154 non-null   object
 3   START       1154 non-null   object
 4   STOP        1154 non-null   object
 5   MILES       1154 non-null   float64
 6   PURPOSE     652 non-null    object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 72.1+ KB

In [45]:
data["END_DATE"] = pd.to_datetime(data["END_DATE"])

In [46]:
data

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1150,2016-12-31 01:07:00,2016-12-31 01:14:00,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,2016-12-31 13:24:00,2016-12-31 13:42:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,2016-12-31 15:03:00,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,2016-12-31 21:32:00,2016-12-31 21:50:00,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,2016-12-31 22:08:00,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site

In [47]:
data.loc[data["END_DATE"] == data["START_DATE"]]

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
751,2016-09-06 17:49:00,2016-09-06 17:49:00,Business,Unknown Location,Unknown Location,69.1,NaN
761,2016-09-16 07:08:00,2016-09-16 07:08:00,Business,Unknown Location,Unknown Location,1.6,NaN
798,2016-10-08 15:03:00,2016-10-08 15:03:00,Business,Karachi,Karachi,3.6,NaN
807,2016-10-13 13:02:00,2016-10-13 13:02:00,Business,Islamabad,Islamabad,0.7,NaN

In [48]:
data.loc[data["START_DATE"] == data["END_DATE"]].index

Int64Index([751, 761, 798, 807], dtype='int64')

In [49]:
data.drop([751, 761, 798, 807], inplace=True, axis=0)

In [51]:
data.shape

(1150, 7)

In [53]:
ts = data["START_DATE"][0]
ts

Timestamp('2016-01-01 21:11:00')

In [58]:
ts.year

2016

In [59]:
ts.month

1

In [60]:
ts.day

1

In [64]:
ts.month_name()

'January'

In [65]:
ts.day_name()

'Friday'

In [66]:
ts.hour

21

In [67]:
data["END_DATE"].dt.year

0       2016
1       2016
2       2016
3       2016
4       2016
        ...
1150    2016
1151    2016
1152    2016
1153    2016
1154    2016
Name: END_DATE, Length: 1150, dtype: int64

In [69]:
data["START_DATE"].dt

In [70]:
data['END_DATE'].dt.month_name()

0        January
1        January
2        January
3        January
4        January
          ...
1150    December
1151    December
1152    December
1153    December
1154    December
Name: END_DATE, Length: 1150, dtype: object

In [ ]:
# What is the shortest journey made? - miles
# What is the longest journey made? - miles
# What is the average journey made? - miles
# How many years of data do we have? - count

In [71]:
data.describe()

             MILES
count  1150.000000
mean     10.538957
std      21.552360
min       0.500000
25%       2.900000
50%       6.000000
75%      10.400000
max     310.300000

In [72]:
data["MILES"].mean()

10.538956521739129

In [73]:
data["START_DATE"].dt.year.nunique()

1

In [74]:
data["END_DATE"].dt.year.nunique()

1

In [ ]:
# Measures of central tendency

In [77]:
data["MILES"].mean()

10.538956521739129

In [78]:
data["MILES"].min(), data["MILES"].max()

(0.5, 310.3)

In [ ]:
# robust estimator to extreme values

In [79]:
data["MILES"].median()

6.0

In [ ]:
# mean, median, mode

In [82]:
data["PURPOSE"].value_counts(dropna = False)

NaN                498
Meeting            186
Meal/Entertain     160
Errand/Supplies    128
Customer Visit     101
Temporary Site      50
Between Offices     18
Moving               4
Airport/Travel       3
Charity ($)          1
Commute              1
Name: PURPOSE, dtype: int64

In [83]:
data["PURPOSE"].mode()

0    Meeting
Name: PURPOSE, dtype: object

In [84]:
# estimate of percentiles

In [85]:
import numpy as np
np.percentile(data['MILES'], 50)

6.0

In [86]:
np.percentile(data['MILES'], 30)

3.2